*{
    margin: -1px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar h1{
    font-size: 1.2rem;
}
.navbar{
    display: flex;
    float: left;
    background-color: #4d004d;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}
.container-fluid{
    background-color: #4d004d;
}

.soms-footer{
    display: flex;
    float: left;
    background-color: #a6a6a6;
    color: black;
    width: 100%;
    padding-left: 20px;
    font-size: 0.8rem;
    margin-top: 50px;
}
.footer-content{
    padding-left: 20px;
    color: white;
    flex: 2;
}
.footer-content a{
    padding-left: 20px;
}

.dropbtn {
    background-color: #d0d0d0;
    color: black;
    /*color: white;*/
    /*padding-right: 10px;*/
    /* margin-left: 10px; */
    font-size: 16px;
    border: solid 1px white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
}

.dropbtn a{
    background-color: black;
    color: white;
}
.dropbtn a:hover{
    background-color: #0099cc;
    border: solid 2px white;
}
.nav-item{
    margin-left: 10px;
    /* color: black; */
    color: white;
    /* background-color: #d0d0d0; */
}
.nav-item a{
    /* background-color: #d0d0d0; */
    /* color: black; */
    color: white;
    border-radius: 5px;
    /*font-weight: bold;*/
    font-size: 1.2rem;
    /* border: solid 1px white; */
}

.nav-item a:hover{
    background-color: #0099cc;
    color: black;
    border: solid 2px white;
    /*font-weight: bold;*/
    font-size: 1.2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: black; */
    background-color: #d0d0d0;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-left: 20px; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {background-color: #0099cc; color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0099cc; border: solid 2px white;}

.logo{
    /* display: flex; */
    width: 175px;
    height: 100px;
    float: left;
}
.slides{
    /* width: 80%; */
    /* height: 70%; */
    /* padding-left: 100px; */
    /* flex: 2; */
}
.hidden{
    visibility: hidden;
}
.flexContainer{
    flex: 3;
    padding-left: 400px;
    width: 50%;
}

.flexContainerCustomize {
    flex: 5;
    padding-left: 300px;
}

.flexDashboard {
    flex: 5;
    padding-left: 50px;
}

.flexContainer h1 {
    padding-bottom: 20px;
}

.submitButton{
    background-color: #660066;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: solid 2px white;
}

#submitButton:hover{
    background-color: #0099cc;
    color: black;
}

.logo{
    width: 100px;
    height: 50px;
}

.carouselContainer {
    width: 70%;
    height: 50%;
    margin-left: 200px;
}
