*{
    margin: -1px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar h1{
    font-size: 1.2rem;
}
.navbar{
    display: flex;
    float: left;
    /*background-color: #062F4F;*/
    background-color: #0B3C5D;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}
.container-fluid{
    background-color: #660066;
}

.soms-footer{
    display: flex;
    float: left;
    background-color: #CDA34F;
    color: black;
    width: 100%;
    padding-left: 20px;
    font-size: 0.8rem;
    margin-top: 100px;
}
.footer-content{
    padding-left: 20px;
    color: white;
    flex: 2;
}
.footer-content a{
    padding-left: 20px;
}

.allUsersContainer{
    flex: 4;
    /* width: 90%; */
    margin-left: 50px;
    /*background-color: #BC4639;*/
}

.allUsersContainer table{
    /*color: white;*/
}

.allUsersContainer table tr:hover{
    /*color: white;*/
}
.tableTitle{
    text-align: left;
    font-size: 1.5rem;
    width: 50%;
}

.dropbtn {
    background-color: #B82601;
    color: white;
    /*color: white;*/
    /*padding-right: 10px;*/
    /* margin-left: 10px; */
    font-size: 16px;
    border: solid 1px white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    /*font-weight: bold;*/
}

.dropbtn a{
    background-color: black;
    color: white;
}
.dropbtn a:hover{
    background-color: #0099cc;
    border: solid 2px white;
}
.nav-item{
    margin-left: 10px;
    /* color: black; */
    color: white;
    /* background-color: #d0d0d0; */
}
.nav-item a{
    /* background-color: #d0d0d0; */
    /* color: black; */
    color: white;
    border-radius: 5px;
    /*font-weight: bold;*/
    font-size: 1.2rem;
    /* border: solid 1px white; */
}

.nav-item a:hover{
    /*background-color: #0099cc;*/
    background-color: #B82601;
    /*color: black;*/
    /*border: solid 2px white;*/
    /*font-weight: bold;*/
    font-size: 1.2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: black; */
    background-color: #CDA34F;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-left: 20px; */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*font-weight: bold;*/
}

.dropdown-content a:hover {background-color: #B82601; color: white;}

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropbtn {background-color: #0099cc; border: solid 2px white;}*/

.logo{
    /* display: flex; */
    width: 175px;
    height: 100px;
    float: left;
}
.slides{
    /* width: 80%; */
    /* height: 70%; */
    /* padding-left: 100px; */
    /* flex: 2; */
}
.hidden{
    visibility: hidden;
}
.flexContainer{
    flex: 5;
    padding-left: 100px;
    width: 90%;
}

.flexContainerCustomize {
    flex: 5;
    padding-left: 300px;
}

.flexDashboard {
    flex: 5;
    padding-left: 50px;
}

.flexContainer h1 {
    padding-bottom: 20px;
}

.submitButton{
    background-color: #660066;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: solid 2px white;
}

#submitButton:hover{
    background-color: #0099cc;
    color: black;
}

.logo{
    width: 100px;
    height: 50px;
    margin-right: 40px;
}

.carouselContainer {
    width: 70%;
    height: 50%;
    margin-left: 200px;
}
.search-text{
    /*margin-left: 400px;*/
    width: 300px;
    margin-bottom: 5px;
}
.search-text .form-control {
    padding-left: 2.5rem;
}
.search-text .search-icon {
    position: absolute;
    display: block;
    width: 2.75rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    pointer-events: none;
    color: black;
}

.allActivitiesContainer {
    flex: 4;
    margin-left: 50px;
}

#all_activity_button{
    text-align: center;
    padding: 2em;
}

.registerActivityContainer {
  width: 60%;
  margin-left: 300px;
  margin-bottom: 50px;
}
.registerActivityContainer h1{
  text-align: center;
}
.registerActivityContainer button{
  background-color: #660066;
}

table tr:hover {
    background-color: #B82601;
    color: white;
}

table tr th td:active {
    background-color: #B82601;
    color: white;
}

.titleAndSearch {
    display: flex;
    float: left;
    /* width: 60%; */
}
.titleAndSearch h1 {
  width: 300px;
}

.tablesAndCards {
    display: inline-flex;
    float: left;
}

.cardsContainer {
    flex: 2;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 50px;
}

#userCard{
    width: 500px;
    background-color: #660066;
    color: white;
}

#activityCard {
    width: 600px;
    background-color: #660066;
    color: white;
    margin-right: 50px;
}

#submitButton {
    background-color: #FFB900;
    width: 50%;
    margin-left: 125px;
}

#submitButton:hover{
    background-color: green;
    color: white;
}
/* Override the bootstrap provided default table row hover background colour */
.table-hover tr:hover td, .table-hover tr:hover th {
    background: #B82601;
    color: white;
}

/* Styling for the 'Close' button in the modal */
.modal-footer a {
  background-color: #660066;
  color: white;
}
.modal-footer a:hover {
  background-color: green;
}
