<!doctype html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../soms-style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="flexDashboard">
    <main>
        <div class="input-group mb-3 col-sm-5">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Button</button>
        </div>
        <div class="row g-3">
            <label for="activityID">Activity ID:</label>
            <div class="col-sm-3">
                <input class="form-control" id="activityID" type="text" th:value="${activityID}" readonly>
            </div>
            <label for="activityName">Activity Name:</label>
            <div class="col-sm-3">
                <input class="form-control" id="activityName" type="text" th:value="${activityName}" readonly>
            </div>
            <label for="activityDescription">Activity Description:</label>
            <div class="col-sm-6">
                <input class="form-control" id="activityDescription" type="text" th:value="${activityDescription}" readonly>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Activity Date</th>
                <th>Hours</th>
                <th>Number of Rubbish bags</th>
                <th>Number of Volunteer</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="activityData:${activityData}">
                    <td th:text="${activityData.userID}"></td>
                    <td th:text="${activityData.activityDate}"></td>
                    <td th:text="${activityData.hours}"></td>
                    <td th:text="${activityData.noBagsRubbish}"></td>
                    <td th:text="${activityData.noVolunteer}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/allActivities}" class="btn btn-success" role="button" >Back</a>
    </main>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
