<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="soms-style.css">
    <title>Activity Data Capture</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="flexContainer">
    <h1>Activity Data Capture</h1>
    <form action="http://localhost:8080/myAction" method="get" id="myform">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="activityName" placeholder="Activity Name">
            <label for="activityName">Activity Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="activityDate" placeholder="dd/mm/yyyy">
            <label for="activityDate">Activity Date</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="noOfVolunteers" placeholder="No. of Volunteers">
            <label for="noOfVolunteers">No. of Volunteers</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="noOfHours" placeholder="No. of Hours">
            <label for="noOfHours">No. of Hours</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="bagsOfRubbish" placeholder="No. of bags of rubbish collected">
            <label for="bagsOfRubbish">No. of bags of rubbish collected</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="location" placeholder="Location">
            <label for="location">Location</label>
        </div>
        <br>
        <button type="submit" name="submit" class="submitButton" id="submitButton">Submit</button>
    </form>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
-->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
