<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../soms-style.css">
    <!-- <link rel="stylesheet" th:href="@{soms-style.css}"> -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <title>Amend Data</title>
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="amendDataWrapper">
  <div class="adminTitleDiv">
    <h1 class="adminTitle">Amend Data</h1>
  </div>
    <div class="serProSelected"></div>
    <label for="serProName">Service Provider Name</label>
    <input type="text" class="form-control" id="serProName" name="serProName" th:value="${serProName}" readonly>
    <label for="serProID">Service Provider ID</label>
    <input type="text" class="form-control" id="serProID" name="serProID" th:value="${serProID}" readonly>
</div>

    <!-- bring up activities table based on filtering data by selected service provider's id -->
    <div class="SPActivityTableWrapper">
        <table class="table table-striped" id="SP-activity-table">
            <thead>
            <tr>
                <th>Activity ID</th>
                <th>Activity Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Location</th>
                <th>Keywords</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>


        <tr th:each="activity: ${allActivity}" th:if="${activity.serProID} == ${serProID}">
            <td th:text="${activity.activityID}"></td>
            <td th:text="${activity.activityName}"></td>
            <td th:text="${activity.date}"></td>
            <td th:text="${activity.description}"></td>
            <td th:text="${activity.location}"></td>
            <td th:text="${activity.keyWords}"></td>
            <td><a th:href="@{/ActBySPID
                    (activityID=${activity.activityID},
                    activityName=${activity.activityName},
                    date=${activity.date},
                    description=${activity.description},
                    location=${activity.location})}" class="btn btn-success" id="selectBtn" role="button" >Amend Activity Data</a></td>
        </tr>
        </tbody>
    </table>
    </div>>
</div>

<script type="text/javascript">
    $(document).ready( function () {
        $('#SP-activity-table').DataTable();
    } );
</script>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
