<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../soms-style.css">
    <!-- <link rel="stylesheet" th:href="@{soms-style.css}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Admin Home</title>
</head>
<body>

<main>
    <div class="adminHomeContainer">
        <!--<div th:if="$(not #lists.isEmpty(allMessages)">-->
        <h1 class="adminTitle">Admin</h1>
        <div class="contactTable">
            <h3 id="table_title">Serivce Provider Messages</h3>
            <table class="table table-hover table-sm" id="allMessagesTable">
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:5%">
                <col style="width:5%">
                <thead>
                <tr>
                    <!-- <th scope="col"></th> -->
                    <th scope="col">Replied</th>
                    <th scope="col">Date Recieved</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Service</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="message: ${allMessages}">
                   <td><input class="form-check-input" type="checkbox" value=""></td>
                    <td th:text="${message.recievedDate}"></td>
                    <td th:text="${message.priority}"></td>
                    <td th:text="${message.SerProName}"></td>
                    <td th:text="${message.serProEmail}"></td>
                    <td th:text="${message.message}"></td>
                    <td><a th:href="@{/message/delete/{id}/(messageid=${message.messageID})}"  class="btn btn-danger" role="button" onclick="deleteMessage()">Delete</a></td>
                    <td><a th:href="@{/message/reply/{id}/(messageid=${message.messageID},
                      messageRecipient=${message.SerProName},
                      message=${message.message})}"  class="btn btn-primary" role="button" onclick="sendMessgae()">Reply</a></td>
                  
                </tr>
                </tbody>

            </table>
        </div>

        <div class="selectSPwrapper">
            <h3>Select Service Provider</h3>
            <h4>Enter Service Provider Name</h4><br>

            <div class="search-text">
                <span class="fa fa-search search-icon"></span>
                <input type="text" id="findSerPro" onkeyup="findSerPro()" class="form-control" placeholder="Service Provider Name...">
            </div>

            <h4>Or Select From The List</h4>
            <table class="table table-hover table-sm " id="allSerProTable" onclick=selectSerPro()>
                <thead>
                <col style="width:33%">
                <col style="width:33%">
                <col style="width:33%">

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>tel.</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="serPro: ${allSerPro}">
                   <!-- <td><input class="form-check-input"  name="exampleRadios" onclick="selectSerPro()" value=""></td>-->
                    <td th:text="${serPro.serProID}"></td>
                    <td th:text="${serPro.name}"></td>
                    <td th:text="${serPro.email}"></td>
                    <td th:text="${serPro.telephone}"></td>
                    <td><a class="btn btn-primary"
                           role="button" th:href="@{/AdminAmendData(
            serProID=${serPro.serProID},
            serProName=${serPro.name},
        )}">Select</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- Modal to display the confirmation popup message to the user. This modal is displayed after registering the activity in the database.  -->
    <div class="modal fade" id="MessageDeleted" visibility="hidden" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content animate">
                <div class="modal-header" id="common-modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Message Deleted!</h5>
                    <!-- Removed the default modal close icon so that the user must click on the 'Close' button. -->
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    Deleted Message
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <!-- Added a custom button to close the modal. -->
                    <a href="" class="btn btn-secondary" role="button">Close</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reply message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>


</main>
<footer th:replace="fragments/footer :: footer"></footer>

<script>

$(document).ready(function () {

    $("#replyButton").click(function(){
         $('#messageModal').modal('show');
    });
});
</script>
<script>

    // $('#exampleModal').on('show.bs.modal', function (event) {
    //     var button = $(event.relatedTarget) // Button that triggered the modal
    //     var recipient = button.data('whatever') // Extract info from data-* attributes
    //     // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    //     // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    //     var modal = $(this)
    //     modal.find('.modal-title').text('New message to ' + recipient)
    //     modal.find('.modal-body input').val(recipient)
    // })

    /*
    function deleteMessage() { <!--DELETE MESSAGE -->
        var table = document.getElementById("allMessagesTable"), rIndex;
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                rIndex = this.rowIndex;
                console.log(rIndex);

                var name = rIndex[2];
                var date = rIndex[1];
                var email = rIndex[3];
                var description = rIndex[4];
                var params = 'name=' + name + '&date=' + date + '&email' + email + '&description' + description;
                rIndex.remove()

                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", '/DeleteMessage', true); // true is asynchronous
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState === 4 && xhttp.status === 200) {
                        console.log(xhttp.responseText);
                        // Initialize the modal to display the confirmation message.
                        // Added the 'backdrop' value as 'static' so that the modal will not close when user clicks outside the modal.
                        var myModal = new bootstrap.Modal(document.getElementById("MessageDeleted"), {
                            backdrop: 'static', keyboard: false
                        })
                        myModal.show();   // Display the modal when the AJAX call is successful.
                    } else {
                        console.error(xhttp.statusText);
                    }
                };
                xhttp.send(params);
                return false;
            }

        }
    }

     */



    function replyToMessage(){

    }

    function findSerPro() { <!--FILTER TABLE BY NAME LIKE ON OTHER PAGES -->

        var searchInp, searchFilter, allActivityTable, row, data, i, textVal;
        searchInp = document.getElementById("findSerPro");
        searchFilter = searchInp.value.toUpperCase();
        table = document.getElementById("allSerProTable");
        row = table.getElementsByTagName("tr");

        //Loop through the table rows and hide those who don't match the search filter
        for (var i = 0; i < row.length; i++) {
            data = row[i].getElementsByTagName("td")[2];
            if (data) {
                textVal = data.textContent || data.innerText;
                if (textVal.toUpperCase().indexOf(searchFilter) > -1) {
                    row[i].style.display = "";
                } else {
                    row[i].style.display = "none";
                }
            }
        }
    }

    function selectSerPro() {}

        var table = document.getElementById("allSerProTable"), rIndex;
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                rIndex = this.rowIndex;
                console.log(rIndex);

                var name = this.cells[1].innerHTML;
                var id = this.cells[0].innerHTML;

                console.log("Selected sp is " + name);

                document.getElementById("serPro-id").value = id;
                document.getElementById("serPro-name").value = name;
                console.log(id);
                console.log(name);
            }
                for (var i = 0; i < table.rows.length; i++) {
                    table.rows[i].style.backgroundColor = "white";
                    table.rows[i].style.color = "black";
                }

    }





</script>
</body>
</html>
