<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../soms-style.css">
<!-- the plug-in responsible for table sorting, searching and pagination -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <title>Admin Home</title>
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<main>
    <div class="adminHomeContainer">
        <div class="adminTitleDiv">
            <h1 class="adminTitle">Admin</h1>
        </div>

        <!-- table displays all messages sent from all service providers to admin -->
        <div class="contactTable">
            <h3 id="table_title">Serivce Provider Messages</h3>
            <table class="table table-striped table-hover table-sm" id="allMessagesTable">
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:10%">
                <col style="width:15%">
                <col style="width:20%">
                <col style="width:35%">
                <col style="width:5%">
                <col style="width:5%">
                <thead>
                <tr>
                    <!-- <th scope="col"></th> -->
                    <th scope="col">Replied</th>
                    <th scope="col">Date Recieved</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Service</th>
                    <th scope="col">Email</th>
                    <th scope="col">Message</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="message: ${allMessages}">
                    <td><input class="form-check-input" type="checkbox" value=""></td>
                    <td th:text="${message.recievedDate}"></td>
                    <td th:text="${message.priority}"></td>
                    <td th:text="${message.SerProName}"></td>
                    <td th:text="${message.serProEmail}"></td>
                    <td th:text="${message.message}"></td>
                    <td>
                      <!-- button deletes message from CONTACT_ADMIN table -->
                        <form action="#" th:action="@{'/Admindelete/{id}'(id=${message.messageID})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete" />
                            <button href='' class="btn btn-danger" id="deleteMsgBtn2" type="submit"> Delete</button>
                        </form>
                    </td>
                    <!-- button redirects to AdminReply.html so Admin can reply to particular message -->
                    <td><a th:href="@{/message/reply/{id}/(messageid=${message.messageID},
                      messageRecipient=${message.SerProName},
                      messageRecipientID=${message.SerProID},
                      message=${message.message})}"  class="btn btn-primary" id="replyBtn" role="button" onclick="sendMessgae()">Reply</a></td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="selectSPwrapper">
            <h3>Select Service Provider</h3>
            <div class="search-text">
                <span class="fa fa-search search-icon"></span>
                <input style="width:125%" type="text" id="findSerPro" onkeyup="findSerPro()" class="form-control" placeholder="Service Provider Name...">
            </div>
<!-- table lists all service providers in SERVICE_PROVIDER table -->
            <table class="table table-hover table-sm " id="allSerProTable" onclick=selectSerPro()>
                <thead>
                <col style="width:33%">
                <col style="width:33%">
                <col style="width:33%">

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>tel.</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="serPro: ${allSerPro}">

                    <td th:text="${serPro.serProID}"></td>
                    <td th:text="${serPro.name}"></td>
                    <td th:text="${serPro.email}"></td>
                    <td th:text="${serPro.telephone}"></td>
                    <!-- button carries ser pro data across to AdminAmendData page -->
                    <td><a class="btn btn-primary" id="selectBtn"
                           role="button" th:href="@{/AdminAmendData(
            serProID=${serPro.serProID},
            serProName=${serPro.name},
        )}">Select</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</main>
<footer th:replace="fragments/footer :: footer"></footer>

<script>

    function findSerPro() {
//search and filter ser pro's by name
        var searchInp, searchFilter, allActivityTable, row, data, i, textVal;
        searchInp = document.getElementById("findSerPro");
        searchFilter = searchInp.value.toUpperCase();
        table = document.getElementById("allSerProTable");
        row = table.getElementsByTagName("tr");

        //Loop through the table rows and hide those who don't match the search filter
        for (var i = 0; i < row.length; i++) {
            data = row[i].getElementsByTagName("td")[2];
            if (data) {
                textVal = data.textContent || data.innerText;
                if (textVal.toUpperCase().indexOf(searchFilter) > -1) {
                    row[i].style.display = "";
                } else {
                    row[i].style.display = "none";
                }
            }
        }
    }

//allows for a particular service provider to be selected
    function selectSerPro() {

        var table = document.getElementById("allSerProTable"), rIndex;
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                rIndex = this.rowIndex;
                console.log(rIndex);

                var name = this.cells[1].innerHTML;
                var id = this.cells[0].innerHTML;

                console.log("Selected sp is " + name);

                document.getElementById("serPro-id").value = id;
                document.getElementById("serPro-name").value = name;
                console.log(id);
                console.log(name);
            }
            for (var i = 0; i < table.rows.length; i++) {
                table.rows[i].style.backgroundColor = "white";
                table.rows[i].style.color = "black";
            }

        }
    }

    //adds sorting, searching an dpagination features to table
    $(document).ready( function () {
        $('#allMessagesTable').DataTable();
    } );


</script>
</body>
</html>
