<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="soms-style.css">
    <title>All Users</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <div class="allUsersContainer">
            <table class="table" id="allUsersTable">
              <thead>
                <tr>
                  <th colspan="3">
                    <div class="search-text">
                      <span class="fa fa-search search-icon"></span>
                      <input type="text" id="searchUser" onkeyup="searchUser()" class="form-control" placeholder="Search for names..">
                    </div>
                  </th>
                  <th colspan="3" class="tableTitle">All Users</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">User Name</th>
<!--                    <th scope="col">Date Of Birth</th>-->
                    <th scope="col">Email</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Capture</th>
                </tr>
                <tr th:each="user: ${allUsers}">
                  <th scope="row" th:text="${user.userId}"></th>
                    <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
<!--                    <td th:text="${user.dateOfBirth}"></td>-->
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.telephone}"></td>
                    <td th:text="${user.address} + ' ' + ${user.postcode}"></td>
                    <td><a href="#link" class="btn btn-success" role="button">Capture Activity</a></td>
                </tr>
              </tbody>
            </table>
        </div>
    </main>
    <!-- Function to search based on user name and filter the results in the table -->
    <script type="text/javascript">
        function searchUser() {
          var searchInp, searchFilter, usersTable, row, data, i, textVal;
          searchInp = document.getElementById("searchUser");
          searchFilter = searchInp.value.toUpperCase();
          usersTable = document.getElementById("allUsersTable");
          row = usersTable.getElementsByTagName("tr");

          //Loop through the table rows and hide those who don't match the search filter
          for (var i = 0; i < row.length; i++) {
            data = row[i].getElementsByTagName("td")[0];
            if (data) {
              textVal = data.textContent || data.innerText;
              if (textVal.toUpperCase().indexOf(searchFilter) > -1) {
                row[i].style.display = "";
              } else {
                row[i].style.display = "none";
              }
            }
          }
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script> -->

    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
