<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../soms-style.css">
    <!-- <link rel="stylesheet" th:href="@{soms-style.css}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Capture Activity For User</title>
</head>
<body onload="setUserDetails()">
  <header th:replace="fragments/header :: header"></header>
    <div class="tablesAndCards">
        <div class="allActivitiesContainer" id="allActivitiesContainer" style="width: 750px">
            <div class="titleAndSearch">
                <div class="search-text">
                    <span class="fa fa-search search-icon"></span>
                    <input type="text" id="searchActivity" onkeyup="searchActivity()" class="form-control" placeholder="Search for activity..">
                </div>
                <h1>All Activities</h1>
            </div>
          <table class="table table-hover" id="allActivitiesTable" onclick="selectActivity()">
            <!-- Added column width percentages -->
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:20%">
                <col style="width:18%">
                <col style="width:42%">
                <col style="width:10%">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Activity Name</th>
                    <th scope="col">Activity Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                </tr>
                <tr th:each="activity: ${allActivities}">
                    <td><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="" onclick="selectActivity()"></td>
                    <th scope="row" th:text="${activity.activityID}"></th>
                    <td th:text="${activity.activityName}"></td>
                    <td th:text="${activity.date}"></td>
                    <td th:text="${activity.description}"></td>
                    <td th:text="${activity.location}"></td>
                </tr>
            </table>
        </div>
        <div class="cardsContainer" id="cards">
            <div class="card w-100" id="activityCard">
        <!-- Upon submitting the below form, saveUserActivity() is being invoked which makes an AJAX request to save the information in the database. -->
                <form class="" action="/SaveActivity" method="get" id="saveActivityForm" onsubmit="return saveUserActivity()">
                    <div class="card-header">Selected User & Activity</div>
                    <div class="card-body">
                        <!-- <h5 class="card-title"></h5> -->
                          <div class="row">
                              <div class="col" style="max-width:16%">
                                  <label for="userId">User Id</label>
                                  <input type="text" class="form-control" id="userIdText" name="userId" readonly>
                                  <div id="userId" name="userId" th:text="${userId}" style="display: NONE"></div>
                              </div>
                              <div class="col">
                                  <label for="userName">User Name</label>
                                  <input type="text" class="form-control" id="userNameText" name="userName" readonly>
                                  <div id="userName" name="userName" th:text="${userName}" style="display: NONE"></div>
                              </div>
                              <div class="col">
                                  <label for="userEmail">User Email</label>
                                  <input type="text" class="form-control" id="userEmailText" name="userEmail" readonly>
                                  <div id="userEmail" name="userEmail" th:text="${userEmail}" style="display: NONE"></div>
                              </div>
                          </div>
                          <div class="row" style="display:none">
                              <div class="col" style="max-width:16%">
                                  <label for="activityID">Activity Id</label>
                                  <input type="text" class="form-control" id="activityID" name="activityID" readonly>
                              </div>
                              <div class="col">
                                  <label for="activityName">Activity Name</label>
                                  <input type="text" class="form-control" id="activityName" name="activityName" readonly>
                              </div>
                          </div>
                          <div class="row" style="display:none">
                              <div class="col" style="max-width:25%">
                                  <label for="activityDate">Activity Date</label>
                                  <input type="text" class="form-control" id="activityDate" name="activityDate" readonly>
                              </div>
                              <div class="col">
                                  <label for="description">Description</label>
                                  <input type="text" class="form-control" id="description" name="description" readonly>
                              </div>
                          </div>
                          <!-- <div class="row">
                            <div class="form-floating mb-3" style="color:black; margin-top: 10px">
                                <input type="text" class="form-control" name="noOfHours" id="noOfHours" placeholder="No. of Hours">
                                <label for="noOfHours">No. of Hours</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-floating mb-3" style="color:black">
                                <input type="text" class="form-control" name="bagsOfRubbish" id="bagsOfRubbish" placeholder="No. of bags of rubbish collected">
                                <label for="bagsOfRubbish">No. of bags of rubbish collected</label>
                            </div>
                          </div> -->
                          <div class="row">
                            <div class="col">
                              <table class="table table-borderless" id="actInpTable">
                                <thead>
                                  <tr>
                                    <th scope="col">Activity Metrics/Inputs</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="noOfHours" id="noOfHours" placeholder="No. of Hours">
                                          <label for="noOfHours">No. of Hours</label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custMetricRow1" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custMetric1" id="custMetric1" placeholder="">
                                          <label for="custMetric1" id="custMetricLabel1"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custMetricRow2" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custMetric2" id="custMetric2" placeholder="">
                                          <label for="custMetric2" id="custMetricLabel2"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custMetricRow3" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custMetric3" id="custMetric3" placeholder="">
                                          <label for="custMetric3" id="custMetricLabel3"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custMetricRow4" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custMetric4" id="custMetric4" placeholder="">
                                          <label for="custMetric4" id="custMetricLabel4"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custMetricRow5" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custMetric5" id="custMetric5" placeholder="">
                                          <label for="custMetric5" id="custMetricLabel5"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custMetricRow6" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custMetric6" id="custMetric6" placeholder="">
                                          <label for="custMetric6" id="custMetricLabel6"></label>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="col">
                              <table class="table table-borderless" id="actOutTable">
                                <thead>
                                  <tr>
                                    <th scope="col">Activity Outputs</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="bagsOfRubbish" id="bagsOfRubbish" placeholder="No. of bags of rubbish collected">
                                          <label for="bagsOfRubbish">No. of bags of rubbish collected</label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custOutputRow1" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custOutput1" id="custOutput1" placeholder="">
                                          <label for="custOutput1" id="custOutputLabel1"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custOutputRow2" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custOutput2" id="custOutput2" placeholder="">
                                          <label for="custOutput2" id="custOutputLabel2"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custOutputRow3" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custOutput3" id="custOutput3" placeholder="">
                                          <label for="custOutput3" id="custOutputLabel3"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custOutputRow4" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custOutput4" id="custOutput4" placeholder="">
                                          <label for="custOutput4" id="custOutputLabel4"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custOutputRow5" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custOutput5" id="custOutput5" placeholder="">
                                          <label for="custOutput5" id="custOutputLabel5"></label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr id="custOutputRow6" style="display:none">
                                    <td>
                                      <div class="form-floating mb-3" style="color:black">
                                          <input type="text" class="form-control" name="custOutput6" id="custOutput6" placeholder="">
                                          <label for="custOutput6" id="custOutputLabel6"></label>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="row">
                              <button type="submit" class="btn" id="submitButton">Submit Activity</button>
                              <!-- <a href="/CaptureActivityForUser" class="btn btn-warning" role="button" id="captureButton">Capture Activity</a> -->
                          </div>
                          <!-- <div class="row"> -->
                            <!-- Displays the message to the user that the data has been saved. -->
                            <!-- <p id="response"></p>
                          </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal to display the confirmation popup message to the user. This modal is displayed after saving the information in the database.  -->
    <div class="modal fade" id="savedMessage" visibility="hidden" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content animate">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Saved User Activity!</h5>
            <!-- Removed the default modal close icon so that the user must click on the 'Close' button. -->
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            Successfully logged the user's activity information! Thanks!!
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <!-- Added a custom button to close the modal. The page will redirect to '/AllUsers when the user clicks on 'Close'.  -->
            <a href="/AllUsers" class="btn btn-secondary" role="button">Close</a>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">

    // Function invoked on page load to set the selected user details from the previous page.
    function setUserDetails(){
        var id = document.getElementById("userId").innerHTML;
        var name = document.getElementById("userName").innerHTML;
        var email = document.getElementById("userEmail").innerHTML;
        document.getElementById("userIdText").value = id;
        document.getElementById("userNameText").value = name;
        document.getElementById("userEmailText").value = email;
    }

    // Function to search based on activity name, description, location and filter the results in the table
    function searchActivity() {
        var searchInp, searchFilter, activitiesTable, row, data, i, textVal;
        searchInp = document.getElementById("searchActivity");
        searchFilter = searchInp.value.toUpperCase();
        activitiesTable = document.getElementById("allActivitiesTable");
        row = activitiesTable.getElementsByTagName("tr");

        //Loop through the table rows and hide those who don't match the search filter
        for (var i = 0; i < row.length; i++) {
            var activityName = row[i].getElementsByTagName("td")[1]; // Search based on activity name
            var activityDesc = row[i].getElementsByTagName("td")[3]; // Search based on activity description
            var location = row[i].getElementsByTagName("td")[4]; // Search based on location
            if (activityName && activityDesc) {
                textVal1 = activityName.textContent || activityName.innerText;
                textVal2 = activityDesc.textContent || activityDesc.innerText;
                textVal3 = location.textContent || location.innerText;
                if (textVal1.toUpperCase().indexOf(searchFilter) > -1 || textVal2.toUpperCase().indexOf(searchFilter) > -1
                    || textVal3.toUpperCase().indexOf(searchFilter) > -1) {
                    row[i].style.display = "";
                } else {
                    row[i].style.display = "none";
                }
            }
        }
    }

    /* Function to select an activity from the table, display the selected activity details on the card shown on the right and highlight the selected row.
    When another activity is selected, un-highlight the previously selected row. */
    function selectActivity(){
        var table = document.getElementById("allActivitiesTable"), rIndex;
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function() {
                rIndex = this.rowIndex;
                var activityId = this.cells[1].innerHTML;
                var activityName = this.cells[2].innerHTML;
                var activityDate = this.cells[3].innerHTML;
                var description = this.cells[4].innerHTML;

                document.getElementById("activityID").value = activityId;
                document.getElementById("activityName").value = activityName;
                document.getElementById("activityDate").value = activityDate;
                document.getElementById("description").value = description;
                for (var i = 0; i < table.rows.length; i++) {
                    // table.rows[i].style.backgroundColor = "white";
                    table.rows[i].style.background = "linear-gradient(to top left, #006666 0%, #ff9933 100%)";
                    table.rows[i].style.color = "black";
                }
                var selectedRow = table.getElementsByTagName('tr')[rIndex];
                // selectedRow.style.backgroundColor = "#B82601";
                // selectedRow.style.color = "white";
                selectedRow.style.background = "none";
                selectedRow.style.backgroundColor = "darkorange";
                selectedRow.style.color = "black";

                /* Select the radio button when any cell in the row is clicked.
                This allows the user to select a user by clicking anywhere in the row and not necessarily on the radio button.
                It is important to note that the radio button is at position 'rIndex - 1'.*/
                var radioButton = document.getElementsByClassName("form-check-input");
                radioButton[rIndex - 1].checked = true;
            }
        }
        // jQuery function to make an Ajax HTTP GET request to get the customized activity metrics.
                $(function() {
                        var allMetrics;
                        let activityId = $("#activityID").val();  // Get the activity id
                        $.ajax({
                            type: 'GET',
                            url: 'http://localhost:8080/getCustomizedActivity/?activityId=' + activityId,
                            dataType: "text",
                            success: function(response) {
                              allMetrics = response;
                            },
                            async: false
                        });
                        // console.log(allMetrics);
        // Split based on the '|' character and get each metric/output
                        var metric1 = allMetrics.split("|")[0];
                        var metric2 = allMetrics.split("|")[1];
                        var metric3 = allMetrics.split("|")[2];
                        var metric4 = allMetrics.split("|")[3];
                        var metric5 = allMetrics.split("|")[4];
                        var metric6 = allMetrics.split("|")[5];
                        var output1 = allMetrics.split("|")[6];
                        var output2 = allMetrics.split("|")[7];
                        var output3 = allMetrics.split("|")[8];
                        var output4 = allMetrics.split("|")[9];
                        var output5 = allMetrics.split("|")[10];
                        var output6 = allMetrics.split("|")[11];

        /* Add the selected custom metrics to the Activity metrics/inputs table rows with fadeIn/fadeOut animation
          When the selected activity does not have any customized metrics/inputs, the specific rows will automatically hide from the table. */
                        if(metric1 !== "0" && metric1 !== ""){
                            $("#custMetricLabel1").text(metric1);
                            $("#custMetric1").attr("placeholder", metric1);
                            $("#custMetricRow1").fadeIn(1000);
                        } else {
                            $("#custMetricRow1").fadeOut("slow");
                        }
                        if(metric2 !== "0" && metric2 !== ""){
                            $("#custMetricLabel2").text(metric2);
                            $("#custMetric2").attr("placeholder", metric2);
                            $("#custMetricRow2").fadeIn(2000);
                        } else {
                            $("#custMetricRow2").fadeOut("slow");
                        }
                        if(metric3 !== "0" && metric3 !== ""){
                            $("#custMetricLabel3").text(metric3);
                            $("#custMetric3").attr("placeholder", metric3);
                            $("#custMetricRow3").fadeIn(3000);
                        } else {
                            $("#custMetricRow3").fadeOut("slow");
                        }
                        if(metric4 !== "0" && metric4 !== ""){
                            $("#custMetricLabel4").text(metric4);
                            $("#custMetric4").attr("placeholder", metric4);
                            $("#custMetricRow4").fadeIn(4000);
                        } else {
                            $("#custMetricRow4").fadeOut("slow");
                        }
                        if(metric5 !== "0" && metric5 !== ""){
                            $("#custMetricLabel5").text(metric5);
                            $("#custMetric5").attr("placeholder", metric5);
                            $("#custMetricRow5").fadeIn(5000);
                        } else {
                            $("#custMetricRow5").fadeOut("slow");
                        }
                        if(metric6 !== "0" && metric6 !== ""){
                            $("#custMetricLabel6").text(metric6);
                            $("#custMetric6").attr("placeholder", metric6);
                            $("#custMetricRow6").fadeIn(6000);
                        } else {
                            $("#custMetricRow6").fadeOut("slow");
                        }
        /* Similar to the above, perform the same for the custom activity outputs for the selected activity.
          Add the selected custom outputs to the Activity outputs table rows with fadeIn/fadeOut animation
          When the selected activity does not have any customized outputs, the specific rows will automatically hide from the table. */
                        if(output1 !== "0" && output1 !== ""){
                            $("#custOutputLabel1").text(output1);
                            $("#custOutput1").attr("placeholder", output1);
                            $("#custOutputRow1").fadeIn(1000);
                        } else {
                            $("#custOutputRow1").fadeOut("slow");
                        }
                        if(output2 !== "0" && output2 !== ""){
                            $("#custOutputLabel2").text(output2);
                            $("#custOutput2").attr("placeholder", output2);
                            $("#custOutputRow2").fadeIn(2000);
                        } else {
                            $("#custOutputRow2").fadeOut("slow");
                        }
                        if(output3 !== "0" && output3 !== ""){
                            $("#custOutputLabel3").text(output3);
                            $("#custOutput3").attr("placeholder", output3);
                            $("#custOutputRow3").fadeIn(3000);
                        } else {
                            $("#custOutputRow3").fadeOut("slow");
                        }
                        if(output4 !== "0" && output4 !== ""){
                            $("#custOutputLabel4").text(output4);
                            $("#custOutput4").attr("placeholder", output4);
                            $("#custOutputRow4").fadeIn(4000);
                        } else {
                            $("#custOutputRow4").fadeOut("slow");
                        }
                        if(output5 !== "0" && output5 !== ""){
                            $("#custOutputLabel5").text(output5);
                            $("#custOutput5").attr("placeholder", output5);
                            $("#custOutputRow5").fadeIn(5000);
                        } else {
                            $("#custOutputRow5").fadeOut("slow");
                        }
                        if(output6 !== "0" && output6 !== ""){
                            $("#custOutputLabel6").text(output6);
                            $("#custOutput6").attr("placeholder", output6);
                            $("#custOutputRow6").fadeIn(6000);
                        } else {
                            $("#custOutputRow6").fadeOut("slow");
                        }
                });
    }

/*  This is the AJAX function invoked when user clicks on 'Submit Activity'
    This function makes a POST request call to the route /SaveUserActivityData to save the submitted information in the database. */
    function saveUserActivity() {
      var userId = document.getElementById("userIdText").value;
      var activityId = document.getElementById("activityID").value;
      var activityDate = document.getElementById("activityDate").value;
      var noOfHours = document.getElementById("noOfHours").value;
      var bagsOfRubbish = document.getElementById("bagsOfRubbish").value;
      var params = 'userId=' + userId + '&activityId=' + activityId + '&activityDate=' + activityDate + '&noOfHours=' + noOfHours + '&bagsOfRubbish=' + bagsOfRubbish;
      // console.log(params);
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", '/SaveUserActivityData', true); // true is asynchronous
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
          console.log(xhttp.responseText);
          // alert("Successfully saved the user activity data! Thanks!!");
          // Initialize the modal to display the confirmation message.
          // Added the 'backdrop' value as 'static' so that the modal will not close when user clicks outside the modal.
          var myModal = new bootstrap.Modal(document.getElementById("savedMessage"), {
            backdrop: 'static', keyboard: false
          })
          myModal.show();   // Display the modal when the AJAX call is successful.
          // document.getElementById("response").innerHTML = xhttp.responseText;
        } else {
          console.error(xhttp.statusText);
        }
      };
      xhttp.send(params);
      return false;
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script> -->

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
