<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../soms-style.css">
    <!-- <link rel="stylesheet" th:href="@{soms-style.css}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Register Activity</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <main>
      <div class="registerActivityContainer">
        <div class="registerActivityForm">
          <h1>Register New Activity</h1>
  <!-- Upon submitting the below form, registerActivity() is being invoked which makes an AJAX request to register the activity in the database. -->
          <form action="/AddNewActivity/" method="get" id="myform" onsubmit="return registerActivity()">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="activityName" placeholder="Activity Name" name="activityName" required>
                  <label for="activityName">Activity Name</label>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                      <input type="date" class="form-control" id="activityDate" placeholder="dd/mm/yyyy" name="activityDate" required>
                      <label for="activityDate">Activity Date</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="location" placeholder="Location" name="location" required>
                      <label for="location">Location</label>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <textarea name="description" id="description" class="form-control" placeholder="Activity Description" style="height: 100px" required></textarea>
                <label for="description">Description</label>
              </div>
              <div class="form-floating mb-3">
                <textarea name="keywords" id="keywords" class="form-control" placeholder="Keywords" style="height: 100px"></textarea>
                <label for="keywords">Keywords</label>
              </div>
              <button type="submit" class="btn btn-success" id="registerActivityButton">Register Activity</button>
          </form>
        </div>
          <div class="activitiesContainer">
              <div class="titleAndSearch">
                  <div class="search-text">
                      <span class="fa fa-search search-icon"></span>
                      <input type="text" id="searchActivity" onkeyup="searchActivity()" class="form-control" placeholder="Search for activity..">
                  </div>
                  <h1>All Activities</h1>
              </div>
            <table class="table table-hover" id="activitiesTable" onclick="selectActivity()">
                  <col style="width:3%">
                  <col style="width:18%">
                  <col style="width:14%">
                  <col style="width:40%">
                  <col style="width:10%">
                  <col style="width:15%">
                  <tr>
                      <!-- <th scope="col"></th> -->
                      <th scope="col">#</th>
                      <th scope="col">Activity Name</th>
                      <th scope="col">Activity Date</th>
                      <th scope="col">Description</th>
                      <th scope="col">Location</th>
                  </tr>
                  <tr th:each="activity: ${allActivities}">
                      <!-- <td><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="" onclick="selectActivity()"></td> -->
                      <th scope="row" th:text="${activity.activityID}"></th>
                      <td th:text="${activity.activityName}"></td>
                      <td th:text="${activity.date}"></td>
                      <td th:text="${activity.description}"></td>
                      <td th:text="${activity.location}"></td>
                      <td><a href="" class="btn" role="button" id="customizeButton" data-bs-toggle="modal" data-bs-target="#customizeActivity" onclick="selectActivity()"><i class="fa fa-edit"></i> Customize</a></td>
                  </tr>
              </table>
          </div>
      </div>
    </main>

    <!-- Modal to display the confirmation popup message to the user. This modal is displayed after registering the activity in the database.  -->
    <div class="modal fade" id="savedMessage" visibility="hidden" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content animate">
          <div class="modal-header" id="common-modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Registered New Activity!</h5>
            <!-- Removed the default modal close icon so that the user must click on the 'Close' button. -->
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            Successfully registered the new Activity! Thanks!!
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <!-- Added a custom button to close the modal. -->
            <a href="" class="btn btn-secondary" role="button">Close</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal to display the confirmation popup message to the user. This modal is displayed after registering the activity in the database.  -->
    <div class="modal fade" id="customizeActivity" visibility="hidden" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content animate">
          <div class="modal-header" id="common-modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Customize Activity Metrics/Outputs</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Selected Activity
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    <!-- <strong>This is the first item's accordion body.</strong> -->
                    <div class="row">
                        <div class="col" style="max-width:7%">
                            <label for="activityId">#</label>
                            <input type="text" class="form-control" id="custActivityId" name="activityId" readonly>
                        </div>
                        <div class="col" style="max-width:23%">
                            <label for="activityName">Activity Name</label>
                            <input type="text" class="form-control" id="custActivityName" name="activityName" readonly>
                        </div>
                        <div class="col" style="max-width:15%">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="custLocation" name="location" readonly>
                        </div>
                        <div class="col" style="max-width:15%">
                            <label for="activityDate">Activity Date</label>
                            <input type="text" class="form-control" id="custActivityDate" name="activityDate" readonly>
                        </div>
                        <div class="col" style="max-width:40%">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="custDescription" name="description" readonly>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Customize Activity Metrics/Inputs
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-5">
                        <table class="table" id="activityInpTable">
                          <col style="width:10%">
                          <col style="width:90%">
                          <thead>
                            <tr>
                              <th scope="col"><input class="form-check-input" type="checkbox" name="selectAllInp" id="selectAllInp"></th>
                              <th scope="col">Selected Metrics/Inputs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectInpCheck" id="selectInpCheck"></td>
                              <td>Number of Volunteers</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectInpCheck" id="selectInpCheck"></td>
                              <td>Number of Hours</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-2">
                        <div class="d-grid gap-2 col-8 mx-auto" style="margin-top:40px">
                          <button class="btn btn-success" type="button" id="addInpButton"><i class="fa fa-angle-double-left"></i> Add</button>
                        </div>
                        <div class="d-grid gap-2 col-8 mx-auto" style="margin-top:5px">
                          <button class="btn btn-success" type="button" id="remInpButton"><i class="fa fa-angle-double-right"></i> Remove</button>
                        </div>
                      </div>
                      <div class="col-5">
                        <table class="table" id="tempInpTable">
                          <col style="width:10%">
                          <col style="width:90%">
                          <thead>
                            <tr>
                              <th scope="col"><input class="form-check-input" type="checkbox" name="selectAllTempInp" id="selectAllTempInp"></th>
                              <th scope="col">Pre-defined template inputs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selecTempInpCheck" id="selecTempInpCheck"></td>
                              <td>Land area cleaned (in square feet)</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selecTempInpCheck" id="selecTempInpCheck"></td>
                              <td>Distance covered/cleaned (in miles)</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selecTempInpCheck" id="selecTempInpCheck"></td>
                              <td>Average no. of steps taken per volunteer</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selecTempInpCheck" id="selecTempInpCheck"></td>
                              <td>No. of days spent on the activity</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="customInp" placeholder="Custom Input" name="customInp" required>
                            <label for="customInp">Custom Input</label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-floating mb-3">
                          <div class="d-grid gap-2 col-10 mx-auto">
                            <button class="btn btn-success" type="button" id="addCustInpButton"><i class="fa fa-plus"></i> Add Custom</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Customize Activity Outputs
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-5">
                        <table class="table" id="activityOutTable">
                          <col style="width:10%">
                          <col style="width:90%">
                          <thead>
                            <tr>
                              <th scope="col"><input class="form-check-input" type="checkbox" name="selectAllOut" id="selectAllOut"></th>
                              <th scope="col">Selected Outputs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectOutCheck" id="selectOutCheck" value="" onclick="selectOutput()"></td>
                              <td>Number of bags of rubbish collected</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-2">
                        <div class="d-grid gap-2 col-8 mx-auto" style="margin-top:40px">
                          <button class="btn btn-success" type="button" id="addOutButton"><i class="fa fa-angle-double-left"></i> Add</button>
                        </div>
                        <div class="d-grid gap-2 col-8 mx-auto" style="margin-top:5px">
                          <button class="btn btn-success" type="button" id="remOutButton"><i class="fa fa-angle-double-right"></i> Remove</button>
                        </div>
                      </div>
                      <div class="col-5">
                        <table class="table" id="tempOutTable">
                          <col style="width:10%">
                          <col style="width:90%">
                          <thead>
                            <tr>
                              <th scope="col"><input class="form-check-input" type="checkbox" name="selectAllTempOut" id="selectAllTempOut"></th>
                              <th scope="col">Pre-defined template outputs</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectTempOutCheck" id="selectTempOutCheck"></td>
                              <td>No. of bags of recyclable material collected (tins, cans, bottles etc.)</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectTempOutCheck" id="selectTempOutCheck"></td>
                              <td>No. of bags of hazardous items collected (broken glass, sharp items etc.)</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectTempOutCheck" id="selectTempOutCheck"></td>
                              <td>Weight of plastic waste or non-degradable items collected (in kilograms)</td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input" type="checkbox" name="selectTempOutCheck" id="selectTempOutCheck"></td>
                              <td>Improved river water quality (concentration of pollutants - micrograms per liter (µg/l))</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="customOut" placeholder="Custom Input" name="customInp" required>
                            <label for="customInp">Custom Input</label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-floating mb-3">
                          <div class="d-grid gap-2 col-10 mx-auto">
                            <button class="btn btn-success" type="button" id="addCustOutButton"><i class="fa fa-plus"></i> Add Custom</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <!-- Added a custom button to close the modal. -->
            <a href="" class="btn btn-secondary" role="button">Close</a>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">

    /*  This is the AJAX function invoked when user clicks on 'Register Activity'
        This function makes a POST request call to the route /AddActivity to register the activity in the database. */
        function registerActivity() {
          var activityName = document.getElementById("activityName").value;
          var activityDate = document.getElementById("activityDate").value;
          var location = document.getElementById("location").value;
          var description = document.getElementById("description").value;
          var keywords = document.getElementById("keywords").value;
          var params = 'activityName=' + activityName + '&activityDate=' + activityDate + '&location=' + location + '&description=' + description + '&keywords=' + keywords;
          // console.log(params);
          var xhttp = new XMLHttpRequest();
          xhttp.open("POST", '/AddActivity', true); // true is asynchronous
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState === 4 && xhttp.status === 200) {
              console.log(xhttp.responseText);
              // Initialize the modal to display the confirmation message.
              // Added the 'backdrop' value as 'static' so that the modal will not close when user clicks outside the modal.
              var myModal = new bootstrap.Modal(document.getElementById("savedMessage"), {
                backdrop: 'static', keyboard: false
              })
              myModal.show();   // Display the modal when the AJAX call is successful.
            } else {
              console.error(xhttp.statusText);
            }
          };
          xhttp.send(params);
          return false;
        }

        // Function to search based on activity name, description, location and filter the results in the table
        function searchActivity() {
            var searchInp, searchFilter, activitiesTable, row, data, i, textVal;
            searchInp = document.getElementById("searchActivity");
            searchFilter = searchInp.value.toUpperCase();
            activitiesTable = document.getElementById("activitiesTable");
            row = activitiesTable.getElementsByTagName("tr");

            //Loop through the table rows and hide those who don't match the search filter
            for (var i = 0; i < row.length; i++) {
                var activityName = row[i].getElementsByTagName("td")[0]; // Search based on activity name
                var activityDesc = row[i].getElementsByTagName("td")[2]; // Search based on activity description
                var location = row[i].getElementsByTagName("td")[3]; // Search based on location
                if (activityName && activityDesc) {
                    textVal1 = activityName.textContent || activityName.innerText;
                    textVal2 = activityDesc.textContent || activityDesc.innerText;
                    textVal3 = location.textContent || location.innerText;
                    if (textVal1.toUpperCase().indexOf(searchFilter) > -1 || textVal2.toUpperCase().indexOf(searchFilter) > -1
                        || textVal3.toUpperCase().indexOf(searchFilter) > -1) {
                        row[i].style.display = "";
                    } else {
                        row[i].style.display = "none";
                    }
                }
            }
        }

        /* Function to select an activity from the table, display the selected activity details on the customization modal popup.
        When another activity is selected, un-highlight the previously selected row. */
        function selectActivity(){
            var table = document.getElementById("activitiesTable"), rIndex;
            for (var i = 0; i < table.rows.length; i++) {
                table.rows[i].onclick = function() {
                    rIndex = this.rowIndex;
                    var activityId = this.cells[0].innerHTML;
                    var activityName = this.cells[1].innerHTML;
                    var activityDate = this.cells[2].innerHTML;
                    var description = this.cells[3].innerHTML;
                    var location = this.cells[4].innerHTML;

                    document.getElementById("custActivityId").value = activityId;
                    document.getElementById("custActivityName").value = activityName;
                    document.getElementById("custActivityDate").value = activityDate;
                    document.getElementById("custDescription").value = description;
                    document.getElementById("custLocation").value = location;
                    for (var i = 0; i < table.rows.length; i++) {
                        table.rows[i].style.backgroundColor = "white";
                        table.rows[i].style.color = "black";
                    }
                    var selectedRow = table.getElementsByTagName('tr')[rIndex];
                    selectedRow.style.backgroundColor = "#B82601";
                    selectedRow.style.color = "white";

                    /* Select the radio button when any cell in the row is clicked.
                    This allows the user to select an activity by clicking anywhere in the row and not necessarily on the radio button.
                    It is important to note that the radio button is at position 'rIndex - 1'.*/
                    // var radioButton = document.getElementsByClassName("form-check-input");
                    // radioButton[rIndex - 1].checked = true;
                }
            }
        }

        /*  jQuery functions to move the records from one table to another.
            These functions are invoked when user clicks the 'Add' and 'Remove' buttons to move the data between tables. */

        $(document).ready(function() {
            $("#addInpButton").on("click", function() {
              var selectedRows = $("#tempInpTable input:checked").parents("tr").not("thead tr").remove().clone().appendTo($("#activityInpTable tbody").add(selectedRows));
              $(".form-check-input").prop("checked", false);
            });
        });
        $(document).ready(function() {
            $("#remInpButton").on("click", function() {
                var selectedRows = $("#activityInpTable input:checked").parents("tr").not("thead tr").remove().clone().appendTo($("#tempInpTable tbody").add(selectedRows));
                $(".form-check-input").prop("checked", false);
            });
        });
        $(document).ready(function() {
            $("#addOutButton").on("click", function() {
                var selectedRows = $("#tempOutTable input:checked").parents("tr").not("thead tr").remove().clone().appendTo($("#activityOutTable tbody").add(selectedRows));
                $(".form-check-input").prop("checked", false);
            });
        });
        $(document).ready(function() {
            $("#remOutButton").on("click", function() {
                var selectedRows = $("#activityOutTable input:checked").parents("tr").not("thead tr").remove().clone().appendTo($("#tempOutTable tbody").add(selectedRows));
                $(".form-check-input").prop("checked", false);
            });
        });

        $(document).ready(function() {
            $("#addCustInpButton").on("click", function() {
                var custInput = $("#customInp").val();
                $("#activityInpTable").append('<tr><td><input class="form-check-input" type="checkbox" name="selectInpCheck" id="selectInpCheck"></td><td>' + custInput + '</td></tr>');
            });
        });

        $(document).ready(function() {
            $("#addCustOutButton").on("click", function() {
                var custOutput = $("#customOut").val();
                $("#activityOutTable").append('<tr><td><input class="form-check-input" type="checkbox" name="selectOutCheck" id="selectOutCheck"></td><td>' + custOutput + '</td></tr>');
            });
        });

        $(function() {
            $("#activityInpTable #selectAllInp").click(function() {
                if(this.checked) {
                    $("#activityInpTable .form-check-input").prop("checked", true);
                } else {
                    $("#activityInpTable .form-check-input").prop("checked", false);
                }
            });
            $("#tempInpTable #selectAllTempInp").click(function() {
                if(this.checked) {
                    $("#tempInpTable .form-check-input").prop("checked", true);
                } else {
                    $("#tempInpTable .form-check-input").prop("checked", false);
                }
            });
            $("#activityOutTable #selectAllOut").click(function() {
                if(this.checked) {
                    $("#activityOutTable .form-check-input").prop("checked", true);
                } else {
                    $("#activityOutTable .form-check-input").prop("checked", false);
                }
            });
            $("#tempOutTable #selectAllTempOut").click(function() {
                if(this.checked) {
                    $("#tempOutTable .form-check-input").prop("checked", true);
                } else {
                    $("#tempOutTable .form-check-input").prop("checked", false);
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
