<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../soms-style.css">
    <!-- <link rel="stylesheet" th:href="@{soms-style.css}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Register Activity</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <main>
      <div class="registerActivityContainer">
        <h1>Register New Activity</h1>
        <form action="/AddActivity/" method="get" id="myform">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="activityName" placeholder="Activity Name" name="activityName">
                <label for="activityName">Activity Name</label>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="activityDate" placeholder="dd/mm/yyyy" name="activityDate">
                    <label for="activityDate">Activity Date</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="location" placeholder="Location" name="location">
                    <label for="location">Location</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea name="description" id="description" class="form-control" placeholder="Activity Description" style="height: 100px"></textarea>
              <label for="description">Description</label>
            </div>
            <div class="form-floating mb-3">
              <textarea name="keywords" id="keywords" class="form-control" placeholder="Keywords" style="height: 100px"></textarea>
              <label for="keywords">Keywords</label>
            </div>
            <button type="submit" class="btn btn-success" id="registerActivityButton">Register Activity</button>
        </form>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
