<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../soms-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body onload=showLoginSignUpModal()>
  <header th:replace="fragments/header :: header"></header>
    <main>
      <div class="loginPage">
        <h1 id="welcomeTitle">Welcome! Please register or login to our website!</h1>
        <div class="tabsContainer">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="tab-item active">
              <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="tab-item active">
              <a class="nav-link" id="signUp-tab" data-bs-toggle="tab" href="#signUp" role="tab" aria-controls="signUp" aria-selected="false">Sign Up - Register Service Provider</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab" style="max-width:500px; margin-left:150px;">
              <!-- <form action="" method="" id="loginForm" onsubmit="return checkUserLogin()"> -->
              <!-- <form th:action="@{/login}" method="post" id="loginForm"> -->
              <form th:action="@{/login}" method="post" id="loginForm" onsubmit="return checkUserLogin()">
                <h5 id="loginModalTitle"></h5>
                <p id="userExists" style="display:none"></p>
                <div th:if="${param.error}">
                    <h5 style="color:orange">Sorry, invalid username or password</h5>
                </div>
                  <div class="form-floating mb-3">
                      <!-- change to email id instead of name for authentication -->
                      <!-- <input type="text" class="form-control" id="username" placeholder="User Name" name="username" required> -->
                      <input type="email" class="form-control" id="email" placeholder="Email Id" name="email" required>
                      <label for="email"><i class="fa fa-envelope icon"></i> Email Id</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                    <label for="password"><i class="fa fa-lock"></i> Password</label>
                  </div>
                  <button type="submit" class="btn btn-success" id="loginButton">Login</button>
                </form>
            </div>

            <div class="tab-pane fade" id="signUp" role="tabpanel" aria-labelledby="signUp-tab">
              <form action="" method="" onsubmit="return registerServiceProv()">
                <h5 id="signUpModalTitle"></h5>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                        <label for="name"><i class="fa fa-user icon"></i> Name</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="signUpEmail" placeholder="Email" name="signUpEmail" required>
                        <label for="signUpEmail"><i class="fa fa-envelope icon"></i> Email</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="form-floating mb-3">
                      <textarea name="text" id="address" class="form-control" placeholder="Address" style="height: 100px" required></textarea>
                      <label for="address"><i class="fa fa-map-marker icon"></i> Address</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="postcode" placeholder="Post Code" name="postcode" required>
                      <label for="postcode"><i class="fa fa-map-marker icon"></i> Post Code</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="telephone" placeholder="Telephone" name="telephone" required>
                        <label for="telephone"><i class="fa fa-phone icon"></i> Telephone</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="companiesHouseId" placeholder="Companies House Id" name="companiesHouseId" required>
                      <label for="companiesHouseId"><i class="fa fa-building icon"></i> Companies House Id</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" id="registerButton">Register Service Provider</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </main>

    <!-- Modal to display the confirmation popup message to the user. This modal is displayed after registering the activity in the database.  -->
    <div class="modal fade" id="savedMessage" visibility="hidden" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content animate">
          <div class="modal-header" id="common-modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Registered New Service Provider!</h5>
            <!-- Removed the default modal close icon so that the user must click on the 'Close' button. -->
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            Successfully registered your account! Thanks!! Please login to our website now!
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <!-- Added a custom button to close the modal. -->
            <a href="" class="btn btn-secondary" role="button">Close</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Display spinners to show that the page is loading. This is to simulate a real world scenario when the Ajax call takes a few seconds! -->
    <div class="overlay" id="loader">
      <div class="spinners">
        <div class="spinner-grow text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

      <script type="text/javascript">

  //  This function displays the Login/SignUp modal popup in the custom login page.
        function showLoginSignUpModal() {
          document.getElementById('logoutIcon').style.display = "none";
          // var loginSignUpModal = new bootstrap.Modal(document.getElementById("loginSignUpModal"), {
          //   backdrop: 'static', keyboard: false
          // })
          // loginSignUpModal.show();
        }

  /*  This is the AJAX function invoked when user clicks on 'Register Service Provider'
      This function makes a POST request call to the route /addServiceProvider to register the service provider in the database. */
        function registerServiceProv() {
            $("#loader").show();  // Display spinners to simulate a page loading scenario
            var name = document.getElementById("name").value;
            var email = document.getElementById("signUpEmail").value;
            var telephone = document.getElementById("telephone").value;
            var address = document.getElementById("address").value;
            var postcode = document.getElementById("postcode").value;
            var companiesHouseId = document.getElementById("companiesHouseId").value;
            var params = 'name=' + name + '&email=' + email + '&telephone=' + telephone + '&address=' + address + '&postcode=' + postcode + '&companiesHouseId=' + companiesHouseId;
            // console.log(params);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/ServiceProvider', true); // true is asynchronous
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onreadystatechange = setTimeout(function() { /* This is to simulate a real world scenario when the Ajax call takes a few seconds!
                      Show the spinners just before the Ajax call. Delay the Ajax call by 3 seconds and then hide the spinners! */
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    console.log(xhttp.responseText);
                    // var modalTitle = document.getElementById("signUpModalTitle");
                    // modalTitle.innerHTML = "Successfully registered your account! Thanks!! Please login to our website now!";
                    // modalTitle.style.color = "green";
                    // Initialize the modal to display the confirmation message.
                    // Added the 'backdrop' value as 'static' so that the modal will not close when user clicks outside the modal.
                    $("#loader").hide();  // Hide the spinners
                    var myModal = new bootstrap.Modal(document.getElementById("savedMessage"), {
                      backdrop: 'static', keyboard: false
                    })
                    myModal.show();   // Display the modal when the AJAX call is successful.
                } else {
                    console.error(xhttp.statusText);
                }
            }, 3000);
            xhttp.send(params);
            return false;
        }

  /* This function validates the service provider email id by checking if it exists in the database.
     This function is invoked before the Spring security login - once the below check is passed,
     the page submits the credentials for Spring security authentication. */
        function checkUserLogin() {
    //  check if the service provider exists in the database using email id instead of name
          // var name = document.getElementById("username").value;
          // console.log(name);
          // var params = 'name=' + name;
          // console.log(params);
          var email = document.getElementById("email").value;
          console.log(email);
          var params = 'email=' + email;
          console.log(params);

          if(email === "admin@admin") {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/checkIfAdmin', false); // true is asynchronous
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onreadystatechange = function () {
              if (xhttp.readyState === 4 && xhttp.status === 200 && xhttp.responseText === "Login is successful") {
                console.log(xhttp.responseText);
                document.getElementById("userExists").innerHTML = xhttp.responseText;
              }
              xhttp.send(params);
              if (document.getElementById("userExists").innerHTML === "Login is successful") {
                return true;    // if service provider is registered in the database, then proceed to authenticate
              } else {
                return false;   // if service provider is not registered in the database, then display error message
              }
            }
          }

          else
            {
              var xhttp = new XMLHttpRequest();
              xhttp.open("POST", '/checkIfServiceProviderExists', false); // true is asynchronous
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.onreadystatechange = function () {
                if (xhttp.readyState === 4 && xhttp.status === 200 && xhttp.responseText === "Login is successful") {
                  console.log(xhttp.responseText);
                  document.getElementById("userExists").innerHTML = xhttp.responseText;
                  // document.getElementById("loginModalTitle").style.color = "white";
                } else {
                  console.log(xhttp.responseText);
                  console.error(xhttp.statusText);
                  document.getElementById("loginModalTitle").innerHTML = "Sorry, this service provider is not registered!";
                  // document.getElementById("loginModalTitle").innerHTML = xhttp.responseText;
                  document.getElementById("loginModalTitle").style.color = "orange";
                }
              };
              xhttp.send(params);
              if (document.getElementById("userExists").innerHTML === "Login is successful") {
                return true;    // if service provider is registered in the database, then proceed to authenticate
              } else {
                return false;   // if service provider is not registered in the database, then display error message
              }
            }
        }
      </script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <!-- <footer th:replace="fragments/footer :: footer"></footer> -->
</body>
</html>
