<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="soms-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Service Provider Registration</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>

    <form class="text-center" method = "get" action="/registerServiceProvider" onsubmit="return registerServiceProvider()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" id="email" class="form-control" name="email"  placeholder="Email">
        </div>
        <div class="form-group">
            <label>Telephone</label>
            <input type="text" id="telephone" class="form-control" name="telephone" placeholder="Telephone">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" id="address" class="form-control" name="address"  placeholder="Address">
        </div>
        <div class="form-group">
            <label>Post Code</label>
            <input type="text" id="postcode" class="form-control" name="postcode" placeholder="Post Code">
        </div>
        <div class="form-group">
            <label>Companies House Id</label>
            <input type="text" id="companiesHouseId" class="form-control" name="companiesHouseId" placeholder="Companies House Id">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <!--<table id="ActivityTable">
        <tr><td>Saved Activities</td></tr>
        <tr th:each="activity: ${activity}">

            &lt;!&ndash;/*@thymesVar id="activity" type=""*/&ndash;&gt;
            &lt;!&ndash;/*@thymesVar id="activityName" type="activityName"*/&ndash;&gt;
            <td th:text="${activity}"></td>

        </tr>
    </table>-->

    <!--
    form needs to be saved and displayed on page via mySQL
    next move for SP is to send form answers to BEE the difference which displays answers and includes form label USER id and metrics
    -->

</main>


<!-- Modal to display the confirmation popup message to the user. This modal is displayed after registering the activity in the database.  -->
<div class="modal fade" id="savedMessage" visibility="hidden" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registered New Service Provider!</h5>
                <!-- Removed the default modal close icon so that the user must click on the 'Close' button. -->
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                Successfully registered the new Service Provider! Thanks!!
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <!-- Added a custom button to close the modal. -->
                <a href="" class="btn btn-secondary" role="button">Close</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    /*  This is the AJAX function invoked when user clicks on 'Register Service Provider'
        This function makes a POST request call to the route /addServiceProvider to register the service provider in the database. */
    function registerServiceProvider() {
        console.log(`Hello`);
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var telephone = document.getElementById("telephone").value;
        var address = document.getElementById("address").value;
        var postcode = document.getElementById("postcode").value;
        var companiesHouseId = document.getElementById("companiesHouseId").value;
        var params = 'name=' + name + '&email=' + email + '&telephone=' + telephone + '&address=' + address + '&postcode=' + postcode + '&companiesHouseId=' + companiesHouseId;
        // console.log(params);
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/ServiceProvider', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState === 4 && xhttp.status === 200) {
                console.log(xhttp.responseText);
                // Initialize the modal to display the confirmation message.
                // Added the 'backdrop' value as 'static' so that the modal will not close when user clicks outside the modal.
                var myModal = new bootstrap.Modal(document.getElementById("savedMessage"), {
                    backdrop: 'static', keyboard: false
                })
                myModal.show();   // Display the modal when the AJAX call is successful.
            } else {
                console.error(xhttp.statusText);
            }
        };
        xhttp.send(params);
        return false;
    }

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
