<!--
User registration ("User" SQL table / GitLab issue #15)
Service Provider (SP) registration ("Service Provider" SQL table / GitLab issue #16)
Create Activity ("Activity" SQL table / GitLab issue #19)
User Activity Data ("Activity Data" and "Activity log" SQL tables / GitLab issue #18)
Activity Output ("Activity Outputs" SQL table / GitLab issue #17)
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>




</body>

</script>
</html>